<html>
<h3>Angular data interpolation</h3>
{{fullname}}
<br> {{title | uppercase}}
{{today | date:'fullDate'}}

<h3>Show Image on file change</h3>
<app-image></app-image>

<h3>Template reference variables in action with viewChild, Access them in TS file</h3>
<app-ref-demo [cssClass]="appStyle"></app-ref-demo>

<h3>Usage of Template reference variable  [Check console]</h3>
<label for="address">Enter your address:</label>
<input #address>
<div #thisDiv></div>
<button (click)="showAddress(address)">Click to get Address</button>


<h3>Following data coming from interface numberInterface</h3>
x: {{x}}
y: {{y}}

<h3>Keyup event for the textbox</h3>
Enter your name: <input type="text" (keyup)="getVal($event.target.value)" #text> 
<h4>Name: {{propertyVal}}</h4>

<h3>Child component [Pass data from parent to child]</h3>
<app-app-child [item]="currentItem" [cssClass]="appStyle" [discountRate]="sale"></app-app-child>
Do not send discountRate
<app-app-child [item]="currentItem" [cssClass]="appStyle"></app-app-child>

<h3>Child component [Employee] implements interface, but all the required data is passed from parent</h3>

<!-- <app-employee [id]="eId1" [name]="eName1" [age]="eAge1" [salary]="eSalary1" [bGroup]="eBgrp1" [designation]="eDesignation1"></app-employee>
<app-employee [id]="eId2" [name]="eName2" [age]="eAge2" [salary]="eSalary2" [bGroup]="eBgrp2" [designation]="eDesignation2"></app-employee> -->

<p *ngFor="let employee of employees">
  <app-employee [id]="employee.id" [name]="employee.name" [age]="employee.age" [salary]="employee.salary" [bGroup]="employee.bGroup" [designation]="employee.designation"></app-employee>
</p>

<h3>Data coming from TS file using Data interpolation same Component</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Is Minor</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{person.id ? person.id :"-"}}</td>
    <td>{{person.name}}</td>
    <td>{{person.age}}</td>
    <td>{{person.isAdult ? 'Yes' : 'No' }}</td>
  </tr>
</table>

<h3>Pass object from TS to another component app-person</h3>
<div *ngFor="let person of persons">
  <app-person [person] = "person"></app-person>
</div>

<h3>Child component [Pass data from child to parent]</h3>
<app-add-fruit (newItemEvent) = "addItem($event)"></app-add-fruit>
<ul>
  <li *ngFor="let fruit of fruits">{{fruit | titlecase}}</li>
</ul>

<h3>Intercept input property changes with ngOnChanges ("Source code version")</h3>
<app-version-parent></app-version-parent>
</html>